.liC{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border: 3px solid white;
}


.ulC{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
}