:root{
  --sub-alt-color: #2c2e31;
  --main-bg-color:#e2b714;
  --body-color:#646669;
}

nav {
  display: flex;
  align-items: center;
  background-color: var(--sub-alt-color);
  justify-content: space-between;
  color: var(--main-bg-color);
  padding: 0 10px;
}

.nav__list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Sort {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 72px;
  color: var(--main-bg-color);
  background-color: var(--sub-alt-color);
}

.Sort select {
  border: none;
  color: var(--main-bg-color);
  background-color: var(--sub-alt-color);
}

.btn{
    padding: 12px 25px;
    color: var(--main-bg-color);
    background-color: var(--body-color);
}